.title {
  font-family: 'Noto Sans KR', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
}
input {
  height: 30px;
  width: 300px;
  background-color: none;
  border: 1px solid antiquewhite;
}
#characterNameInput {
  border: none;
  background: none;
  outline: none;
}
